/*
 * Colors
 * ========================================================================== */

$beachTheme-color: purple;
$careerTheme-color: #C20067;
$catTheme-color: #0A4C46;
$cheersTheme-color: darkmagenta;
$childhoodTheme-color: #C20067;
$coffeeTheme-color: #884D30;
$dogTheme-color: #9B2FB6;
$fantasyTheme-color: #B82800;
$fitnessTheme-color: #C20067;
$foodTheme-color: midnightblue;
$happyTheme-color: #C21D00;
$musicTheme-color: #2754DD;
$natureTheme-color: rgba(50, 89, 4, 1);
$painTheme-color: firebrick;
$romanceTheme-color: #006666;
$somberTheme-color: #BB1616;
$stormTheme-color: #B82800;
$technologyTheme-color: #006B36;
$travelTheme-color: #B50D2E;
$whimsyTheme-color: #C21D00;

$lightgrey: rgba(224, 224, 224, 1);